name: Dart CI

on: [push, pull_request]

jobs:
  test-hive:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-platform: [vm]
        dart-channel: ["3.8.0"]
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart-channel }}
      - name: Install dependencies
        run: dart pub get
        working-directory: hive
      - name: Run tests
        run: dart test -p ${{ matrix.test-platform }}
        working-directory: hive

  test-hive-flutter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flutter-channel: [stable]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.flutter-channel }}
      - name: Install dependencies
        run: flutter pub get
        working-directory: hive_flutter
      - name: Run tests
        run: flutter test
        working-directory: hive_flutter

  test-hive_generator:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dart-channel: ["3.9.0"]
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.dart-channel }}
      - name: Install dependencies
        run: dart pub get
        working-directory: hive_generator
      - name: Run tests
        run: dart test
        working-directory: hive_generator
